*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.navbar{

    display:flex;

    justify-content:space-between;

    align-items:center;

    background:#050816;

    color:white;

    padding:20px 80px;

}

.logo{

    font-size:30px;

    font-weight:bold;

    color:#00E5FF;

}

.nav-links{

    display:flex;

    list-style:none;

    gap:40px;

}

.nav-links a{

    text-decoration:none;

    color:white;

    font-size:18px;

    transition:.3s;

}

.nav-links a:hover{

    color:#8B5CF6;

}