/* Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{

    --background:#050816;

    --primary:#00E5FF;

    --secondary:#8B5CF6;

    --white:#ffffff;

    --text:#bcbcbc;

    --card:#10172A;

}

*{

    margin:0;

    padding:0;

    box-sizing:border-box;

    font-family:'Poppins',sans-serif;

}

html{

    scroll-behavior:smooth;

}

body{

    background:var(--background);

    color:white;

    overflow-x:hidden;
}

@keyframes float{

    0%{

        transform:translateY(0px);

    }

    50%{

        transform:translateY(-20px);

    }

    100%{

        transform:translateY(0px);

    }

}

html{
    scroll-behavior: smooth;
}